
# PlanAhead Generated physical constraints 

NET "clk" LOC = L15;
NET "rx" LOC = A16;
NET "tx" LOC = B16;

NET "clk" IOSTANDARD = LVCMOS33;
NET "rx" IOSTANDARD = LVCMOS33;
NET "tx" IOSTANDARD = LVCMOS33;

NET "led<7>" LOC = N12;
NET "led<6>" LOC = P16;
NET "led<5>" LOC = D4;
NET "led<4>" LOC = M13;
NET "led<3>" LOC = L14;
NET "led<2>" LOC = N14;
NET "led<1>" LOC = M14;
NET "led<0>" LOC = U18;

NET "led<7>" IOSTANDARD = LVCMOS33;
NET "led<6>" IOSTANDARD = LVCMOS33;
NET "led<5>" IOSTANDARD = LVCMOS33;
NET "led<4>" IOSTANDARD = LVCMOS33;
NET "led<3>" IOSTANDARD = LVCMOS33;
NET "led<2>" IOSTANDARD = LVCMOS33;
NET "led<1>" IOSTANDARD = LVCMOS33;
NET "led<0>" IOSTANDARD = LVCMOS33;

NET "adc_data<7>" LOC = T12;
NET "adc_data<6>" LOC = N10;
NET "adc_data<5>" LOC = M10;
NET "adc_data<4>" LOC = U11;
NET "adc_data<3>" LOC = R10;
NET "adc_data<2>" LOC = U10;
NET "adc_data<1>" LOC = R8;
NET "adc_data<0>" LOC = M8;

NET "adc_data<7>" IOSTANDARD = LVCMOS33;
NET "adc_data<6>" IOSTANDARD = LVCMOS33;
NET "adc_data<5>" IOSTANDARD = LVCMOS33;
NET "adc_data<4>" IOSTANDARD = LVCMOS33;
NET "adc_data<3>" IOSTANDARD = LVCMOS33;
NET "adc_data<2>" IOSTANDARD = LVCMOS33;
NET "adc_data<1>" IOSTANDARD = LVCMOS33;
NET "adc_data<0>" IOSTANDARD = LVCMOS33;

NET "adc_clk" LOC = U8;
NET "adc_clk" IOSTANDARD = LVCMOS33;

NET "adc_end_of_conversion" LOC = U15;
NET "adc_end_of_conversion" IOSTANDARD = LVCMOS33;

NET "adc_start" LOC = U16;
NET "adc_start" IOSTANDARD = LVCMOS33;

NET "adc_address_latch_enable" LOC = U13;
NET "adc_address_latch_enable" IOSTANDARD = LVCMOS33;

NET "adc_output_enable" LOC = M11;
NET "adc_output_enable" IOSTANDARD = LVCMOS33;
