
# PlanAhead Generated physical constraints 

NET "clk" LOC = L15;
NET "rx" LOC = B16;
NET "tx" LOC = A16;

# PlanAhead Generated IO constraints 

NET "clk" IOSTANDARD = LVCMOS33;
NET "rx" IOSTANDARD = LVCMOS33;
NET "tx" IOSTANDARD = LVCMOS33;
